PORT=5000
MONGODB_URI=mongodb+srv://boanergejoe4_db_user:lNyaSkKJeMTcybQv@cluster0.ysy3bp3.mongodb.net/?appName=Cluster0&compressors=zlib
db_username=boanergejoe4
db_password=lNyaSkKJeMTcybQv
ADMIN_EMAIL=boanergejoe4@gmail.com
NODE_ENV=production
#Cloudinary keys
CLOUDINARY_API_KEY=319437484766198
CLOUDINARY_API_SECRET=kFMYyJPgU7AlytdFHFBy_yzPGgc
CLOUDINARY_CLOUD_NAME=dq1puduov
# Clerk keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29uY3JldGUtZnJvZy0yNC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_xWXltFxZXHFaxMjOtxF75vlGKXWxaIdT7FxhlnFcR2
# PesaPal keys
PesaPal Consumer Key=umupqdcj0idR2ZvQLtxhzHOy6LGmwzKn
PesaPal Consumer Secret=Y5uueQ8Q59WJZeVZug/L8qd5ydU=

VITE_CLERK_PUBLISHABLE_KEY=pk_test_Y29uY3JldGUtZnJvZy0yNC5jbGVyay5hY2NvdW50cy5kZXYk


# environment variables data copy
#PORT=5000
#MONGODB_URI=mongodb+srv://<db_username>:sdwdAizAdYD35taO@cluster0.une08sm.mongodb.net/?appName=Cluster0&compressors=zlib
# Comma-separated DNS servers for MongoDB SRV resolution when the system resolver is unavailable
MONGODB_DNS_SERVERS=192.168.1.1,8.8.8.8
#ADMIN_EMAIL=boanergejoe4@gmail.com
#NODE_ENV=production
#Cloudinary keys
#CLOUDINARY_API_KEY=319437484766198
#CLOUDINARY_API_SECRET=kFMYyJPgU7AlytdFHFBy_yzPGgc
#CLOUDINARY_CLOUD_NAME=dq1puduov
# Clerk keys
#NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29uY3JldGUtZnJvZy0yNC5jbGVyay5hY2NvdW50cy5kZXYk
#CLERK_SECRET_KEY=sk_test_xWXltFxZXHFaxMjOtxF75vlGKXWxaIdT7FxhlnFcR2
# PesaPal keys
#PesaPal Consumer Key=umupqdcj0idR2ZvQLtxhzHOy6LGmwzKn
#PesaPal Consumer Secret=Y5uueQ8Q59WJZeVZug/L8qd5ydU=

#VITE_CLERK_PUBLISHABLE_KEY=pk_test_Y29uY3JldGUtZnJvZy0yNC5jbGVyay5hY2NvdW50cy5kZXYk